.container
{
    width: 100%;
    flex-direction: row;
    display: flex;
   
}
.notification-generation-form
{
    width: 50%;
    padding: 10px;

}
.notification-scheduler-form
{
    width: 50%;
    padding: 10px;
}