.parent{
    display: flex;
    flex-direction: column;
}

.input_generate
{
    width: 100%;
   
    padding: 10px;
}
.inputText
{
    width:100%;
}
.button_submit
{
    width: 100%;
   
    padding: 10px;
    text-align: center;
}