
<mat-card>
    <mat-card-title>
        Schedule Notification
    </mat-card-title>
    <mat-card-content>
        <form action="">
            <div class="parent">
            <div class="input_generate">
               <mat-form-field class="inputText">
                <mat-label>Notification Details</mat-label>
                <input matInput class="">
                
              </mat-form-field> 
            </div>
            <div class="input_generate">
                <mat-form-field class="inputText">
                 <mat-label>Interval in seconds</mat-label>
                 <input matInput type="number" class="">
                 
               </mat-form-field> 
             </div>
            
              <div class="button_submit">
                   <button mat-raised-button color="primary">Schedule</button>
              </div>
            </div>
            
             
        </form>
    </mat-card-content>
</mat-card>

