<mat-card>
  <mat-card-title>
    Schedule Notification
  </mat-card-title>
  <mat-card-content>
    <form> 
      <div class="parent">
        <div class="input-wrapper">
          <mat-form-field class="custom-input">
            <mat-label>Notification Message</mat-label>
            <input matInput #message>
          </mat-form-field>
        </div>
        <div class="input-wrapper">
          <mat-form-field class="custom-input">
            <mat-label>Interval in seconds</mat-label>
            <input matInput #time type="number">
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="button-wrapper">
      <button mat-raised-button color="primary" (click)="scheduleNotification(message.value, time.value)">Schedule</button>
    </div>
  </mat-card-content>
</mat-card>